/venv
parser.log
__pycache__/email_sender.cpython-312.pyc
__pycache__/config.cpython-312.pyc
__pycache__/data_archiver.cpython-312.pyc
__pycache__/data_parser.cpython-312.pyc
__pycache__/data_processor.cpython-312.pyc
tests/__pycache__/test_data_processor.cpython-312-pytest-8.4.1.pyc
/.vscode
src/__pycache__/main.cpython-312.pyc
src/__pycache__/database.cpython-312.pyc
src/__pycache__/email_sender.cpython-312.pyc
src/__pycache__/data_processor.cpython-312.pyc
src/__pycache__/data_parser.cpython-312.pyc
src/__pycache__/config.cpython-312.pyc
src/__pycache__/data_archiver.cpython-312.pyc
src/parsing/__pycache__/data_processor.cpython-312.pyc
src/parsing/__pycache__/data_parser.cpython-312.pyc
src/parsing/__pycache__/data_archiver.cpython-312.pyc
src/email/__pycache__/email_sender.cpython-312.pyc
src/smtp/__pycache__/router.cpython-312.pyc
src/recipients/__pycache__/router.cpython-312.pyc
src/recipients/__pycache__/__init__.cpython-312.pyc
src/core/__pycache__/router.cpython-312.pyc
src/smtp/__pycache__/__init__.cpython-312.pyc
src/auth/__pycache__/router.cpython-312.pyc
src/__pycache__/__init__.cpython-312.pyc
src/auth/__pycache__/__init__.cpython-312.pyc
src/auth/__pycache__/service.cpython-312.pyc
src/email/__pycache__/__init__.cpython-312.pyc
src/core/__pycache__/__init__.cpython-312.pyc
src/parsing/__pycache__/__init__.cpython-312.pyc
