/venv
parser.log
__pycache__/email_sender.cpython-312.pyc
__pycache__/config.cpython-312.pyc
__pycache__/data_archiver.cpython-312.pyc
__pycache__/data_parser.cpython-312.pyc
__pycache__/data_processor.cpython-312.pyc