version: '3.12'

services:
  db:
    image: postgres:18
    container_name: postgres-container
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DBNAME}
      POSTGRES_USER: ${USER}
      POSTGRES_PASSWORD: ${PASSWORD}
      PGDATA: /var/lib/postgresql/18/data
    ports:
      - "${PORT}:5432"
    volumes:
      - pg_data:/var/lib/postgresql
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 3s
      retries: 3

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-container
    environment:
      PGADMIN_DEFAULT_EMAIL: user@domain.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"
    depends_on:
      - db
    restart: unless-stopped

  stock-service:
    build: .
    env_file:
      - .env
    environment:
      - DBNAME=${DBNAME}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - PORT=${PORT}
    depends_on:
      - db
    ports:
      - "8000:8000"
    restart: unless-stopped

  parser:
    build: .
    env_file:
      - .env
    environment:
      - DBNAME=${DBNAME}
      - USER=${USER}
      - PASSWORD=${PASSWORD}
      - PORT=${PORT}
    depends_on:
      - db
    restart: unless-stopped
    command: ["python", "run_parser.py"]

volumes:
  pg_data:
