{% extends 'base.html' %}
{% block title %}
Главная страница
{% endblock %}

{% block body %}
<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check" viewBox="0 0 16 16">
    <title>Check</title>
    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
</svg>

<div class="container py-3">
  <header>
    <div class="pricing-header p-3 pb-md-2 mx-auto text-center">
      <h1 class="display-4 fw-normal">Stock Data Service</h1>
      <p class="fs-5 text-muted">
        Получайте актуальные биржевые данные автоматически и в удобном формате — для аналитики, трейдинга и финансового мониторинга.
      </p>
    </div>
  </header>

  <main>
    <section class="pt-2 pb-4 text-center container">
      <div class="row">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h2 class="fw-light">Почему выбирают наш сервис</h2>
          <ul class="list-unstyled mt-3">
            <li><svg class="bi" width="16" height="16"><use xlink:href="#check"/></svg> Автоматическая доставка актуальных биржевых данных</li>
            <li><svg class="bi" width="16" height="16"><use xlink:href="#check"/></svg> Удобные форматы отчетов (.csv, .zip) для анализа и работы с данными</li>
            <li><svg class="bi" width="16" height="16"><use xlink:href="#check"/></svg> Прямой доступ к чистым, готовым к использованию данным</li>
            <li><svg class="bi" width="16" height="16"><use xlink:href="#check"/></svg> Подходит для трейдеров, аналитиков и финансовых специалистов</li>
          </ul>
        </div>
      </div>
    </section>
  </main>
</div>
</body>
{% endblock %}
