<!DOCTYPE html>
<html>
<head>
    <title>Авторизация для администратора</title>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
    <div class="container">
        <h2>Авторизация для администратора</h2>
        {% if error %}
        <div class="alert alert-danger my-3">
            <h5 class="alert-heading">Ошибка авторизации</h5>
            Неверное имя пользователя или пароль. Пожалуйста, попробуйте снова.
        </div>
        {% endif %}
        <form method="post" action="/login">
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
        <p class="mt-3">У вас нет учетной записи? <a href="/signup">Зарегистрироваться</a></p>
    </div>
</body>
</html>