<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
        <link rel="stylesheet" href="/static/css/auth.css">
</head>
<body>
    <div class="container">
        <h2>Регистрация</h2>
            <div class="alert alert-info">
            </div>
        <form method="post" action="/signup">
            <div class="mb-3">
                <label for="username" class="form-label">Имя пользователя:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirm_password" class="form-label">Подтвердите пароль:</label>
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
        <p class="mt-3">Уже есть аккаунт? <a href="/login">Войдите</a></p>
    </div>
</body>
</html>